.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 55vh;
}

.contenedor .card {
    margin-right: 1rem;
    margin-top: 1rem;
}

.first {
    display: flex;
    padding: 1rem;
    justify-content: center;
}

.first h1 {
    margin-right: 1rem;
}
